/* color pallate from schemecolor.com */
:root {
    --dark: #0D0D0D;
    --lava: #CC1C1D;
    --smoke: #2C2C2C;
    --light: #ffffff;
}

/* set 1rem to 10px for easier font-size calculation */
html {
    font-size: 62.5%;
}


body {
    background-color: var(--smoke);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* moves nav items to the left and with space between */
nav ul {
    background-color: var(--dark);
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}


li {
    padding: 1rem;
    color: var(--light);
    font-size: 200%;
}

/* take away underline from links */
a {
    text-decoration: none;
    color: var(--light);
}

h1 {
    font-size: 500%;
    color: var(--light);
    text-align: center;
    background-color: var(--dark);
    margin: 0;
    padding: 2rem;
}

h2 {
    font-size: 300%;
    color: var(--lava);
    padding: 2rem;
    margin-top: 1rem;
}

h3 {
    font-size: 200%;
    color: var(--light);
    background-color: var(--dark);
    padding: 1rem;
}

h4 {
    font-size: 200%;
}

p {
    color: var(--light);
    font-size: 200%;
    padding-top: 2rem;
    text-align: left;
    margin-left: 2rem;
    margin-right: 1rem;
}

footer {
    color:var(--lava);
    background-color: var(--dark);
    padding: 2rem;
    text-align: center;
    margin-bottom: 0%;
    margin-top: 0%;
}

 /* creates flexbox container for work section */
.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-content: stretch;
}

/* standardize all flex boxes to have border, width, and margin */
.flexbox-item {
    width: 80%;
    margin: 10px;
    border: 3px solid var(--light);
}

/* making 1st flexbox twice as big as the other boxes */
.flexbox-item-1 {
    width: 82%;
}

.flexbox-item-2 {
    width: 40%;

}

/* when hovering over link in nav bar, turns text color from white to red  */
a:hover {
    color: var(--lava);
}

/* when hovering over work header, turns text color from white to red */
h3:hover {
    color: var(--lava);
}

/* sized and aligned picture */
.headshot {
    width: 20%;
    height: auto;
    align-content: center;
}

/* allows for better viewing on mobile devices */
@media screen and (max-width: 768px) {
    .flexbox-item {
        width: 100%;
    }
}
